<p>
  <b>Consecutivo:</b>
  <%=h @mejoramientosestado.consecutivo %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @mejoramientosestado.descripcion %>
</p>


<%= link_to 'Edit', edit_mejoramientosestado_path(@mejoramientosestado) %> |
<%= link_to 'Back', mejoramientosestados_path %>