   <div>
   	  REPORTE LIQUIDACION DIARIA
   </div>
   <div>
   	 RADICADO <%=h @correspondenciasrecibida.nro_radicado %>
   </div>
   <div class="camposbarras"><%=h @correspondenciasrecibida.nro_radicado %><%=h @correspondenciasrecibida.created_at %>

   </div>