<p>
  <b>Comunicacion:</b>
  <%=h @comunicacionesuser.comunicacion_id %>
</p>

<p>
  <b>User:</b>
  <%=h @comunicacionesuser.user_id %>
</p>


<%= link_to 'Edit', edit_comunicacionesuser_path(@comunicacionesuser) %> |
<%= link_to 'Back', comunicacionesusers_path %>