<p>
  <b>Descripcion:</b>
  <%=h @poblacionesespecial.descripcion %>
</p>


<%= link_to 'Edit', edit_poblacionesespecial_path(@poblacionesespecial) %> |
<%= link_to 'Back', poblacionesespeciales_path %>