<p>
  <b>Proyectosficha:</b>
  <%=h @proyectosfichasimagen.proyectosficha_id %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @proyectosfichasimagen.descripcion %>
</p>


<%= link_to 'Edit', edit_proyectosfichasimagen_path(@proyectosfichasimagen) %> |
<%= link_to 'Back', proyectosfichasimagenes_path %>