  <div align="center">
<% form_for(:pendientesimagen, @pendientesimagen, :url => img_pendientesimagenes_path(@pendientesnota), :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => { :f => f } %>

<table width="90%" height="0" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="20"><hr size="1" noshade class="hrlinea"/></td>
  </tr>
</table>
<table width="90%" height="20" border="0" cellpadding="0" cellspacing="0">
   <tr>
     <td>  <div align="right"><div class="uiButton"><img class="img" src="/images/guardar.png"/>&nbsp;&nbsp;<span class="uiButtonText"><%= f.submit "Guardar" %></span></div>
    <div class="uiButton"><img class="img" src="/images/1atras.png"/>&nbsp;&nbsp;<span class="uiButtonText"><%= link_to 'Regresar',img_pendientesimagenes_path(@pendientesnota) %></span></div></div></td>
  </tr>
</table>
<% end %>
  <br>
</div>
