<p>
  <b>Descripcion:</b>
  <%=h @tiposacto.descripcion %>
</p>

<p>
  <b>User:</b>
  <%=h @tiposacto.user %>
</p>


<%= link_to 'Edit', edit_tiposacto_path(@tiposacto) %> |
<%= link_to 'Back', tiposactos_path %>