<div align="center">
<table width="60%" border="0" align="center" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="2" cellpadding="0">
      <tr>
        <td width="30%" class="campos" align="left">Tipo</td>
        <td width="70%" class="camposDesc" align="left">
          <%= f.select(:descripcion, [
                       ["INICIO","INICIO"],
                       ["PROCESOS","PROCESOS"],
                       ["FINAL","FINAL"]],
                       { :include_blank => true },
                       { :style=>"width:300px", :class => "campo", :onFocus => "this.style.border='1px solid #f00'", :onBlur => "this.style.border='1px solid #bbb'" })%>
          <%= f.error_message_on :descripcion, :css_class =>"cerror"%>
        </td>
      </tr>
      <tr>
        <td class="campos" align="left">Archivo a Cargar</td>
        <td class="camposDesc" align="left"><%= f.file_field :licenlace,
            { :size => 200,
              :maxlength => 1000,
              :onFocus => "this.style.border='1px solid #f00'",
              :onBlur => "this.style.border='1px solid #bbb'" } %>
        <%= f.error_message_on :licenlace, :css_class =>"cerror"%></td>
      </tr>
      
    </table>
    </td>
  </tr>
</table>
</div>