<%=  javascript_include_tag :defaults %>
<h1>Listing ayudastemporales</h1>

<table>
  <tr>
    <th>Identificacion jefe</th>
    <th>Identificacion bene</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Parentesco</th>
    <th>Estado atencion</th>
    <th>Nro carpeta</th>
    <th>Tipo evacuacion</th>
    <th>Fecha remision</th>
    <th>Nro ficha simpad</th>
    <th>Evento</th>
    <th>Direccion evento</th>
    <th>Telefono evento</th>
    <th>Barrio evento</th>
    <th>Direccion nueva viv</th>
    <th>Telefono nueva viv</th>
    <th>Barrio nueva viv</th>
    <th>Fecha contrato</th>
  </tr>

cargado...

</table>