<table width="100%" height="100" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="middle">
    <td>
      <div align="center" style="font-size:25px; font-family: Tahoma;">
        <br/><br/>
        <img src="../../images/warningferia.png"/><br/><br/><br/>
        <strong>ATENCIÓN:</strong> La Feria VIPA esta cerrada<br/><br/><br/><br/><br/><br/><br/></div>
    </td>
  </tr>
</table>