<table width="837" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td  height="30"><div align="right">
        <div class="uiButton"><img class="img" src="/images/guardar.png"/>&nbsp;&nbsp;<span class="uiButtonText"><%= hidden_field :licitacion, :id %><%= submit_tag "Crear informe de avance", :disable_with => "Guardando..."%></span></div>
</div></td>
  </tr>
</table>
    </td>
  </tr>
</table>