<p>
  <b>Descripcion:</b>
  <%=h @calidadtiposdocumento.descripcion %>
</p>


<%= link_to 'Edit', edit_calidadtiposdocumento_path(@calidadtiposdocumento) %> |
<%= link_to 'Back', calidadtiposdocumentos_path %>