<p>
  <b>Persona:</b>
  <%=h @viviendaspersona.persona_id %>
</p>

<p>
  <b>Vivienda:</b>
  <%=h @viviendaspersona.vivienda_id %>
</p>


<%= link_to 'Edit', edit_viviendaspersona_path(@viviendaspersona) %> |
<%= link_to 'Back', viviendaspersonas_path %>