<p>
  <b>Codigo:</b>
  <%=h @falabellastipologia.codigo %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @falabellastipologia.descripcion %>
</p>


<%= link_to 'Edit', edit_falabellastipologia_path(@falabellastipologia) %> |
<%= link_to 'Back', falabellastipologias_path %>