<p>
  <b>Codigo:</b>
  <%=h @correspondenciasclase.codigo %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @correspondenciasclase.descripcion %>
</p>


<%= link_to 'Edit', edit_correspondenciasclase_path(@correspondenciasclase) %> |
<%= link_to 'Back', correspondenciasclases_path %>