<p>
  <b>Archivo:</b>
  <%=h @archivosactualizacion.archivo_id %>
</p>

<p>
  <b>User:</b>
  <%=h @archivosactualizacion.user_id %>
</p>


<%= link_to 'Edit', edit_archivosactualizacion_path(@archivosactualizacion) %> |
<%= link_to 'Back', archivosactualizaciones_path %>