<p>
  <b>Descripcion:</b>
  <%=h @valorizacionesestado.descripcion %>
</p>


<%= link_to 'Edit', edit_valorizacionesestado_path(@valorizacionesestado) %> |
<%= link_to 'Back', valorizacionesestados_path %>