<p>
  <b>Descripcion:</b>
  <%=h @bloque.descripcion %>
</p>

<p>
  <b>Direccion:</b>
  <%=h @bloque.direccion %>
</p>


<%= link_to 'Edit', edit_bloque_path(@bloque) %> |
<%= link_to 'Back', bloques_path %>