<p>
  <b>User:</b>
  <%=h @usersdato.user_id %>
</p>

<p>
  <b>Extension:</b>
  <%=h @usersdato.extension %>
</p>


<%= link_to 'Edit', edit_usersdato_path(@usersdato) %> |
<%= link_to 'Back', usersdatos_path %>