<iframe src="<%=@comunicacion.url rescue nil%>" frameborder="0" style="overflow: hidden; height: 1000px; width: 100%;"></iframe>
<div align="center" style="display: inline; top: 0; bottom: 0; left: 0; height:65px; width:100%; position:absolute; background-color: white">
  <%=image_tag('frame.png')%>
</div>
