<%= render '/comunicaciones/iframe' %>
<div align="center" style="height:40px; width:100%;"><br/><div class="uiButton"><img class="img" src="/images/siguienteinter2.png"/>&nbsp;&nbsp;<span class="uiButtonText">
<%= link_to "Continuar", {:controller=>"comunicaciones", :action=>"read", :id=>@comunicacion.id}%></span></div></div><br/>


