<p>
  <b>Descripcion:</b>
  <%=h @inventarioselemento.descripcion %>
</p>


<%= link_to 'Edit', edit_inventarioselemento_path(@inventarioselemento) %> |
<%= link_to 'Back', inventarioselementos_path %>