<p>
  <b>Persona:</b>
  <%=h @feria2014beneficiario.persona_id %>
</p>


<%= link_to 'Edit', edit_feria2014beneficiario_path(@feria2014beneficiario) %> |
<%= link_to 'Back', feria2014beneficiarios_path %>