<div align="center">
<table width="60%" border="0" cellspacing="2" cellpadding="0">
      <tr>
        <td width="90%" class="campos" align="left">Usuario relacionado *</td>
        <td width="10%" class="campos" align="left"></td>
      </tr>
      <tr>
        <td class="camposDesc" align="left"><%=select("mensajesuser", "user_id", select_user.collect {|p| [ p.nombre, p.id ] }, { :include_blank => true },
      { :style=>"width:500px", :class => "campo", :onFocus => "this.style.border='1px solid #f00'", :onBlur => "this.style.border='1px solid #bbb'" }) %>
        <%= error_message_on :mensajesuser, :user_id, :css_class =>"cerror"%></td>
        <td ><div align="right">
        <div class="uiButton"><img class="img" src="/images/guardar.png"/>&nbsp;&nbsp;<span class="uiButtonText">
<%= hidden_field :mensajesuser, :id %><%= submit_tag "Guardar", :disable_with => "Guardando..."%></span></div>
</div></td>

        </tr>
    </table>
    </div>