<p>
  <b>Persona:</b>
  <%=h @crucesimagen.persona %>
</p>

<p>
  <b>User:</b>
  <%=h @crucesimagen.user %>
</p>


<%= link_to 'Edit', edit_crucesimagen_path(@crucesimagen) %> |
<%= link_to 'Back', crucesimagenes_path %>