<div align="center"><table width="70%" border="0" cellspacing="2" cellpadding="0">
  <tr valign="middle">
    <td width="20%" height="20" class="campos"><div align="right">Modulo : &nbsp;&nbsp;</div></td>
    <td width="20%"><%=select("usersmodulo", "modulo_id", Modulo.find(:all, :conditions => ["id not in (select modulo_id from usersmodulos where user_id = #{@user.id})"],  :order=>"descripcion").collect {|p| [ p.descripcion, p.id ] }, { :include_blank => true },
      { :style=>"width:350px", :class => "campo", :onFocus => "this.style.border='1px solid #f00'", :onBlur => "this.style.border='1px solid #bbb'" }) %>
      <%= error_message_on :usersmodulo, :modulo_id, :css_class =>"cerror"%>
      </td>
    <td width="60%" align="left">
      &nbsp;&nbsp;<div class="uiButton"><img class="img" src="/images/guardar.png"/>&nbsp;&nbsp;<span class="uiButtonText"><%= hidden_field :usersmodulo, :id %><%= submit_tag "Guardar", :disable_with => "Guardando..."%></span></div>
    </td>
  </tr>
</table>
  </div>
<br/>