<table width="100%" height="40">
      <tr>
        <td>
          <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="3%"><img src="/images/archivomin.png" width="64" height="64"/></td>
              <td width="94%"><div class="col_enc">ARCHIVO</div></td>
            </tr>
          </table></td>
      </tr>
</table>
<br/>
<table width="51%" border="0" cellpadding="0" cellspacing="0" align="center" >
  <tr>
    <td width="23%">&nbsp;</td>
    <td width="77%">&nbsp;</td>
  </tr>
  <tr>
    <td><img src="/images/download_bot.gif"></td>
    <td><strong>Proceso Finalizado con Exito.</strong></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>