<p>
  <b>Empledo:</b>
  <%=h @empleadosautorizado.empledo_id %>
</p>

<p>
  <b>User:</b>
  <%=h @empleadosautorizado.user_id %>
</p>


<%= link_to 'Edit', edit_empleadosautorizado_path(@empleadosautorizado) %> |
<%= link_to 'Back', empleadosautorizados_path %>