<p>
  <b>Descripcion:</b>
  <%=h @tiposcaracteristica.descripcion %>
</p>


<%= link_to 'Edit', edit_tiposcaracteristica_path(@tiposcaracteristica) %> |
<%= link_to 'Back', tiposcaracteristicas_path %>