<p>
  <b>Agenda:</b>
  <%=h @agendasuser.agenda %>
</p>

<p>
  <b>User:</b>
  <%=h @agendasuser.user %>
</p>


<%= link_to 'Edit', edit_agendasuser_path(@agendasuser) %> |
<%= link_to 'Back', agendasusers_path %>