<p>
  <b>Descripcion:</b>
  <%=h @viviendasusadasestado.descripcion %>
</p>


<%= link_to 'Edit', edit_viviendasusadasestado_path(@viviendasusadasestado) %> |
<%= link_to 'Back', viviendasusadasestados_path %>