<br/><br/>
<table  width="400px" cellspacing="0" cellpadding="0">
  <tr align="center">
    <td><table border="0" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td align="left"><img src="http://190.0.34.154:3013/images/frame.png"/></td>
              </tr>
            </tbody>
          </table></td>
        </tr>
        <tr height="16"></tr>
        <tr>
          <td><table bgcolor="#FF2F2F" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td height="72px" colspan="3"></td>
              </tr>
              <tr valign="middle">
                <td width="32px"></td>
                <td style="vertical-align:middle; font-size: 25px; color: white; font-family: Verdana, Geneva, sans-serif;">Informe Rechazado</td>
                <td width="32px"></td>
              </tr>
              <tr>
                <td height="18px" colspan="3"></td>
              </tr>
            </tbody>
          </table></td>
        </tr>
        <tr>
          <td><table bgcolor="#FAFAFA" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
              <tr height="16px">
                <td width="32px" rowspan="3"></td>
                <td></td>
                <td width="32px" rowspan="3"></td>
              </tr>
              <tr>
                <td><table border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td>Hola, <strong><%=@interventoria.contrato.empleado.nombres rescue nil%></strong><br/><br/><br/>
                        <div align="justify">Le informamos que su cuenta de cobro del periodo <strong> <%=@interventoria.descmesinforme rescue nil%>-<%=@interventoria.anno rescue nil%></strong> ha sido <strong>RECHAZADO</strong> por el área de Gestion Humana, por favor ingrese nuevamente al SIFI verifique y corrija la observación realizada a la actividad correspondiente a la Seguridad Social y envie nuevamente la solicitud de verificación.<br/><br/><br/>
                        Atentamente,<br/>S I F I - Sistema de Informacion ISVIMED<br/><%=Time.now.strftime("%Y-%m-%d %X")%></div>
                       </td>
                    </tr>
                  </tbody>
                </table></td>
              </tr>
              <tr height="32px"></tr>
            </tbody>
          </table></td>
        </tr>
        <tr height="16"></tr>
        <tr>
          <td><div align="justify" style="font-size: 10px; font-family: Tahoma;">
                <strong>***Por favor no conteste este mensaje, ha sido enviado desde un e-mail automático y no recibirá respuesta.***</strong><br/>
                CONFIDENCIAL. La información contenida en este e-mail es confidencial y sólo puede ser utilizada por el individuo o la compañía a la cual está dirigido. Si no es usted el destinatario autorizado, cualquier retención, difusión, distribución o copia de este mensaje está prohibida y es sancionada por la ley. Si por error recibe este mensaje, le ofrecemos disculpas y le agradecemos reenviar y borrar el mensaje recibido inmediatamente.</div>
          </td>
        </tr>
      </tbody>
    </table></td>
    <td width="32px"></td>
  </tr>
</table>
