<table width="100%" height="40">
  <tr>
    <td class="camposDesc">
      <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="3%"><img src="/images/buscadormin.png" width="64" height="64"/></td>
          <td width="94%"><div class="col_enc">INFORME <%=@nameinforme rescue nil%> - (FASE 2 CENSO) </div></td>
          <td width="3%"><div align="right"><%= link_to image_tag('atras.png',{ :border=>0, :title => "Buscar"}),servicios_fase2censos_path %>
          </div></td>
        </tr>
      </table></td>
  </tr>
</table>
<%= render '/fase2censos/datos' %>
