<%@recordaciones.each do |recordacion| %>
   <div style="font-size: 11px; font-family: Tahoma;"><strong><%=recordacion.fecha.strftime('%Y-%m-%d %X')%> - <%=recordacion.descripcion rescue nil%></strong></div>
<%end%>
