<p>
  <b>Descripcion:</b>
  <%=h @aclasificacion.descripcion %>
</p>

<p>
  <b>Estado:</b>
  <%=h @aclasificacion.estado %>
</p>


<%= link_to 'Edit', edit_aclasificacion_path(@aclasificacion) %> |
<%= link_to 'Back', aclasificaciones_path %>