<p>
  <b>Descripcion:</b>
  <%=h @viviendastipostramite.descripcion %>
</p>

<p>
  <b>Tiempo:</b>
  <%=h @viviendastipostramite.tiempo %>
</p>


<%= link_to 'Edit', edit_viviendastipostramite_path(@viviendastipostramite) %> |
<%= link_to 'Back', viviendastipostramites_path %>